/*
=====================================================================
*   Ceevee v1.0 Layout Stylesheet
*   url: styleshout.com
*   03-18-2014
=====================================================================

   TOC:
   a. General Styles
   b. Header Styles
   c. About Section
   d. skill Section
   e. project Section
   f. Contact Section
   g. Footer

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

body { background: #FFFFFF; }

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
   position: relative;
   height: 750px;
   min-height: 500px;
   width: 100%;
   background : linear-gradient(-45deg, rgba(105, 169, 241, 0.705), rgba(29, 138, 228, 0.63)) fixed,
                url("https://1.bp.blogspot.com/-h9VdOggSpPk/Xt3I6R0jYEI/AAAAAAAAZ3Q/0apjSjVzfzcb1xkKq4l4CQWHMXxqzMafgCLcBGAsYHQ/s1600/watercolor.jpg") fixed;
   background-size: cover !important;
	-webkit-background-size: cover !important;
   text-align: center;
   overflow: hidden;
   border-radius: 1px 1px 50% 50% / 1px 1px 50% 50%;
}

/* vertically center banner section */
header:before {
   content: '';
   display: inline-block;
   vertical-align: middle;
   height: 100%;
}
header .banner {
   display: inline-block;
   vertical-align: middle;
   margin: 0 auto;
   width: 85%;
   padding-bottom: 30px;
   text-align: center;
}

header .icons-profile{
   margin-top: -5%;
}

header .profile-pic {
   width: 160px;
   height: 160px;
   border-radius: 100%;
   outline: solid #fff 8px;
}

header .banner-text { width: 100%; }
header .banner-text h1 {
  /*  font: 90px/1.1em 'opensans-bold', sans-serif; */
   font-family: 'Lobster', cursive;
   font-size:90px;
   text-align: left;
   color: #fff;
   letter-spacing: -2px;
   margin: 0 auto 60px auto;
/*    text-shadow: 0px 1px 3px rgba(0, 0, 0, .8); */
}
header .banner-text h3 {
   font-size: 0.92em;
   color: #ffffff;
   margin: 0 auto;
   width: 70%;
   /* text-shadow: 0px 1px 2px rgba(0, 0, 0, .5); */
}
header .banner-text h3 span,
header .banner-text h3 a {
   color: #ffffffd9;
   background: cornflowerblue;
   /* background: dodgerblue; */
}
header .banner-text hr {
   width: 60%;
   margin: 18px auto 24px auto;
   border-color: #2F2D2E;
   border-color: rgba(150, 150, 150, .1);
}

/* header social links */
header .social {
   margin: 24px 0;
   padding: 0;
   font-size: 30px;
   /* text-shadow: 0px 1px 2px rgba(0, 0, 0, .8); */
}
header .social li {
   display: inline-block;
   margin: 0 15px;
   padding: 0;
}
header .social li a { color: #fff; }
header .social li a:hover { color: #5793c9; }

/* scrolldown link */
header .scrolldown a {
   position: absolute;
   bottom: 50px;
   left: 50%;
   margin-left: -29px;
   color: #fff;
   display: block;
   height: 42px;
   width: 42px;
   font-size: 42px;
   line-height: 42px;
   color: #fff;
   border-radius: 100%;

   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}
header .scrolldown a:hover { color: #5793c9; }

/* title nyozu effect
----------------------------------------------*/
.wrapper {
   width: 100%;
   font-family:  'Alfa Slab One', sans-serif;
   margin: 0 auto;
   height: 100%;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;


}
.wrapper h1 {
   text-transform: uppercase;
   -webkit-transform: translate(-50%, -50%) skew(-10deg, 0);
   transform: translate(-50%, -50%) skew(-10deg, 0); 
   top: 25%;
   left: 50%;
   margin: 0;
   position: absolute;
   font-size: 3.5vw;
   font-weight: 400;
   white-space: nowrap;
   color: #143c88;
   letter-spacing:0.4vw;
   z-index: 1;
   -webkit-text-stroke: 2px #143c88;
}
.wrapper h1::after, .wrapper h1::before {
   -webkit-transition: all 250ms ease;
   transition: all 250ms ease;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   content: attr(data-heading);
   position: absolute;
}
.wrapper h1::after {
   left: -15px;
   top:-15px;
   z-index:2;
   color:#fff;
   -webkit-text-stroke: 2px #fff;
   /* -webkit-text-fill-color: transparent; */
}
.wrapper h1::before {
   z-index:-1;
   left: 15px;
   top: 15px;
   color: #4181f6;
   -webkit-text-stroke: 2px #4181f6;
}
.wrapper h1:hover::after {
   left: -20px;
   top:-20px;
}
.wrapper h1:hover::before {
   left: 20px;
   top: 20px;
}

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	 margin: 0;
	 padding: 0;
	 border: none;
	 outline: none;
}

/* nav-wrap */
#nav-wrap {
   font: 12px 'opensans-bold', sans-serif;
   width: 100%;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   margin: 0 auto;
   z-index: 100;
   position: fixed;
   left: 0;
   top: 0;
   background: white;
}
.opaque { background-color: #ffffff; }

/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }

ul#nav {
   min-height: 48px;
   width: auto;

   /* center align the menu */
   text-align: center;
}
ul#nav li {
   position: relative;
   list-style: none;
   height: 48px;
   display: inline-block;
}

/* Links */
ul#nav li a {

/* 8px padding top + 8px padding bottom + 32px line-height = 48px */

   display: inline-block;
   padding: 8px 13px;
   line-height: 32px;
	text-decoration: none;
   text-align: left;
   color: #a1a1a1b8;

	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}
ul#nav li a:hover{ color: #718ad1;}
ul#nav li a:active { background-color: transparent !important; }
ul#nav li.current a { color: #718ad1; }

/* ------------------------------------------------------------------ */
/* c. About Section
/* ------------------------------------------------------------------ */

#about {
   background: #FFFFFF;
   padding-top: 96px;
   padding-bottom: 66px;
   overflow: hidden;
   /* margin-top: 5%; */
}

/* #about div.about-container{
   display:flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: flex-start;
} */

#about h2 span {
   margin-right: 90%;
   border-bottom: 3px solid #80b5e3;
   padding-bottom: 6px;
   /* margin-bottom: 2px; */
}

#about div.sentense{    
   font-family: 'Josefin Sans', sans-serif;
   color: lightgray;
   word-spacing: normal;
   padding-top: 39px;
   /* font-size: 70px; */
   font-size: 45px;
   line-height: 130%;
}

#about a, #about a:visited  { color: #fff; }
#about a:hover, #about a:focus { color: #718ad1; }

#about h2 {
   padding-top:8%;
   font: 22px/30px 'opensans-bold', sans-serif;
   color: #313131;
   margin-bottom: 12px;
}
#about p {
   margin-top: 5%;
   line-height: 30px;
   color: #7A7A7A;
   text-align: initial; /* 200323 MON AM 01:17 추가 */
}

#about .contact-details { width: 41.66667%; }
#about .download {
   width: 58.33333%;
   padding-top: 6px;
}
#about .main-col { padding-right: 5%; }
#about .download .button {
   margin-top: 6px;
   background: #80b5e3;
}
#about .download .button:hover {
   background: #fff;
   color: #5690c2;
}
#about .download .button i {
   margin-right: 15px;
   font-size: 20px;
}


/* ------------------------------------------------------------------ */
/* d. skill Section
/* ------------------------------------------------------------------ */

#skill {
   background: #f3f3f3;
   padding-top: 5%;
   padding-bottom: 7%;
   overflow: hidden;
}

#skill h3 span {
   border-bottom: 3px solid #80b5e3;
   padding-bottom: 6px;
   margin-bottom: 2px;
}
#skill h3 {
   font: 25px/30px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
}

/*----------------------------------------------*/
/*	Skill Box
/*----------------------------------------------*/

#skill .skillbox_container{
  /*  margin-left: -30%;
   margin-top: 8%; */
   padding-top:6%;
   display:flex;
   flex-direction:row;
   flex-wrap:wrap;
   align-content: center;
}
#skill li{
   text-align: center;
   display: inline-block;
   width: 114px;
   height: 116px;
   border-radius: 50%;
   background-size: cover;
   background-repeat: no-repeat;
   /* margin-right: 3rem; */
   margin: 1rem;
   margin-top: 3rem;
   box-shadow: 0 3px 6px rgba(0,0,0,.2), 0 3px 6px rgba(0,0,0,.2);

  
}

/*===========================
   e. experience Section
===========================*/

#experience {
   background: #FFFFFF;
   padding-top: 4%;
   padding-bottom: 66px;
   overflow: hidden;
   margin-bottom: 2%;
   margin-top: 2%;
}


#experience div p{
   margin-bottom: 1%;
}

#experience h3 span {
   border-bottom: 3px solid #80b5e3;
   padding-bottom: 6px;
}

div #imgBox{
   float: left;
   margin-top: 5%;
   width: 250px;
   margin-right: 5%;
}

   .project-box{
      /*width: 90%;
      width: 57.6%;
      max-width: 890px;*/
      padding-left: 4.5%;
      margin: 0 auto;
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
   }


/* 스크린 가로 980px 이하일 때*/
@media screen and (max-width:980px){
   .project-box{
      padding-top:20px;
      max-width: 263px;
     /*  width: 90%;
      margin: 0 auto; */
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
   }
}

.team-style-eleven {
   position: relative;
   -webkit-box-shadow: 0px 8px 16px 0px rgba(72, 127, 255, 0.1);
   -moz-box-shadow: 0px 8px 16px 0px rgba(72, 127, 255, 0.1);
   box-shadow: 0px 8px 16px 0px rgba(72, 127, 255, 0.1); }
   .team-style-eleven .team-image img {
     width: 100%; }
   .team-style-eleven .team-content {
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     background-color: #fff;
     padding-top: 10px;
     padding-bottom: 10px;
     z-index: 5;
     -webkit-transition: all 0.3s ease-out 0s;
     -moz-transition: all 0.3s ease-out 0s;
     -ms-transition: all 0.3s ease-out 0s;
     -o-transition: all 0.3s ease-out 0s;
     transition: all 0.3s ease-out 0s; }
     @media (max-width: 767px) {
       .team-style-eleven .team-content {
         padding-top: 15px;
         padding-bottom: 15px; } }
     .team-style-eleven .team-content::before {
       position: absolute;
       content: '';
       width: 100%;
       height: 100%;
       top: 0;
       left: 0;
       background: -webkit-linear-gradient(left, #0067f4 0%, #80b5e3 100%);
       background: -o-linear-gradient(left, #0067f4 0%, #80b5e3 100%);
       background: linear-gradient(to right, #0067f4 0%, #80b5e3 100%);
       z-index: -1;
       -webkit-transition: all 0.3s ease-out 0s;
       -moz-transition: all 0.3s ease-out 0s;
       -ms-transition: all 0.3s ease-out 0s;
       -o-transition: all 0.3s ease-out 0s;
       transition: all 0.3s ease-out 0s;
       opacity: 0; }
     .team-style-eleven .team-content .team-social {
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       -webkit-transition: all 0.3s ease-out 0s;
       -moz-transition: all 0.3s ease-out 0s;
       -ms-transition: all 0.3s ease-out 0s;
       -o-transition: all 0.3s ease-out 0s;
       transition: all 0.3s ease-out 0s;
       visibility: hidden;
       opacity: 0; }
       .team-style-eleven .team-content .team-social .social {
         background-color: #fff;
         display: inline-block;
         padding: 10px 20px 6px;
         border-radius: 50px; }
         .team-style-eleven .team-content .team-social .social li {
           display: inline-block;
           margin: 0 8px; }
           .team-style-eleven .team-content .team-social .social li a {
             font-size: 16px;
             color: #a4a4a4;
             -webkit-transition: all 0.3s ease-out 0s;
             -moz-transition: all 0.3s ease-out 0s;
             -ms-transition: all 0.3s ease-out 0s;
             -o-transition: all 0.3s ease-out 0s;
             transition: all 0.3s ease-out 0s; }
             .team-style-eleven .team-content .team-social .social li a:hover {
               color: #5793c9; }
     .team-style-eleven .team-content .team-name a {
       color: #636363;
       font-size: 24px;
       font-weight: 600;
       -webkit-transition: all 0.3s ease-out 0s;
       -moz-transition: all 0.3s ease-out 0s;
       -ms-transition: all 0.3s ease-out 0s;
       -o-transition: all 0.3s ease-out 0s;
       transition: all 0.3s ease-out 0s; }
       @media (max-width: 767px) {
         .team-style-eleven .team-content .team-name a {
           font-size: 18px; } }
     .team-style-eleven .team-content .sub-title {
       font-size: 13.5px;
       color: #8b9798;
       -webkit-transition: all 0.3s ease-out 0s;
       -moz-transition: all 0.3s ease-out 0s;
       -ms-transition: all 0.3s ease-out 0s;
       -o-transition: all 0.3s ease-out 0s;
       transition: all 0.3s ease-out 0s; }
       @media (max-width: 767px) {
         .team-style-eleven .team-content .sub-title {
           font-size: 14px; } }
   .team-style-eleven:hover .team-content {
     padding-top: 50px; }
     @media (max-width: 767px) {
       .team-style-eleven:hover .team-content {
         padding-top: 35px; } }
     .team-style-eleven:hover .team-content::before {
       opacity: 1; }
     .team-style-eleven:hover .team-content .team-social {
       top: -20px;
       visibility: visible;
       opacity: 1; }
     .team-style-eleven:hover .team-content .team-name a {
       color: #fff; }
     .team-style-eleven:hover .team-content .sub-title {
       color: #fff; }
 


/* fadein/fadeout effect for modal popup
/* ------------------------------------------------------------------ */

/* content at start */
.mfp-fade.mfp-wrap .mfp-content .popup-modal {
   opacity: 0;
   -webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
   transition: all 200ms ease-in-out;
}
/* content fadein */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content .popup-modal {
   opacity: 1;
}
/* content fadeout */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content .popup-modal {
   opacity: 0;
}


/* ------------------------------------------------------------------ */
/* f. Contact Section
/* ------------------------------------------------------------------ */

#contact {
   background: #f3f3f3;
   padding:5px;
   padding-bottom: 2%;
   color: #636363;
}

#contact h3 span {
   border-bottom: 3px solid #80b5e3;
   padding-bottom: 6px;
   margin-bottom: 2px;
}

#contact .address{
   margin-top: 3.5%;
}

#contact .section-head { margin-bottom: 42px; }

#contact a, #contact a:visited  { color:#636363;  }
#contact a:hover, #contact a:focus { color: #718ad1; }

#contact h1 {
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 3px;
   color: #EBEEEE;
   margin-bottom: 6px;
}
#contact h1 span { display: none; }
#contact h1:before {
   font-family: 'FontAwesome';
   content: "\f0e0";
	padding-right: 10px;
	font-size: 72px;
   line-height: 72px;
   text-align: left;
   color: #ebeeee;
}

#contact h4 {
   font: 16px/24px 'opensans-bold', sans-serif;
   color: #EBEEEE;
   margin-bottom: 6px;
}
#contact p.lead {
   font: 18px/36px 'opensans-light', sans-serif;
   padding-right: 3%;
}
#contact .header-col { padding-top: 6px; }


/* contact form */
#contact form { margin-bottom: 30px; }
#contact label {
   font: 15px/24px 'opensans-bold', sans-serif;
   margin: 12px 0;
   color: #EBEEEE;
	display: inline-block;
   width: 26%;
}
#contact input,
#contact textarea,
#contact select {
   padding: 18px 20px;
	color: #eee;
	background: #373233;
	margin-bottom: 42px;
	border: 0;
	outline: none;
   font-size: 15px;
   line-height: 24px;
   width: 65%;
}
#contact input:focus,
#contact textarea:focus,
#contact select:focus {
	color: #fff;
	background-color: #718ad1;
}
#contact button.submit {
	text-transform: uppercase;
	letter-spacing: 3px;
	color:#fff;
   background: #0D0D0D;
	border: none;
   cursor: pointer;
   height: auto;
   display: inline-block;
	border-radius: 3px;
   margin-left: 26%;
}
#contact button.submit:hover {
	color: #0D0D0D;
	background: #fff;
}
#contact span.required {
	color: #718ad1;
	font-size: 13px;
}
#message-warning, #message-success {
   display: none;
	background: #0F0F0F;
	padding: 24px 24px;
	margin-bottom: 36px;
   width: 65%;
   margin-left: 26%;
}
#message-warning { color: #D72828; }
#message-success { color: #718ad1; }

#message-warning i,
#message-success i {
   margin-right: 10px;
}
#image-loader {
   display: none;
   position: relative;
   left: 18px;
   top: 17px;
}


/* Twitter Feed */
#twitter {
   margin-top: 12px;
   padding: 0;
}
#twitter li {
   margin: 6px 0px 12px 0;
   line-height: 30px;
}
#twitter li span {
   display: block;
}
#twitter li b a {
   font: 13px/36px 'opensans-regular', Sans-serif;
   color: #474747 !important;
   border: none;
}



/* ------------------------------------------------------------------ */
/* g. Footer
/* ------------------------------------------------------------------ */

#footer .footer-frame { /* footer 물결무늬 */
   fill:  #80b5e3 ;
   margin-bottom: -10px;
   margin-top: 6%;
}

footer {
  /*  padding-top: 48px; */
/*    margin-bottom: 48px; */
   color: #fff;
   font-size: 14px;
   text-align: center;
   position: relative;
   background-color: #80b5e3;
}

footer a, footer a:visited { color: #fff; }
footer a:hover, footer a:focus { color: #5793c9; }

/* copyright */
footer .copyright {
    margin: 3%;
    padding: 0;
 }
footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
.ie footer .copyright li {
   display: inline;
}
footer .copyright li:before {
    content: "\2022";
    padding-left: 10px;
    padding-right: 10px;
    color: #80b5e3;
}
footer .copyright  li:first-child:before {
    display: none;
}

/* social links */
footer .social-links {
   margin: 18px 0 30px 0;
   padding: 0;
   font-size: 30px;
}
footer .social-links li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 42px;
    color: #F06000;
}

footer .social-links li:first-child { margin-left: 0; }

/* Go To Top Button */
#go-top {
	position: absolute;
	top: -24px;
   left: 50%;
   margin-left: -30px;
}

@media screen and (max-width:980px){
   #go-top {
      position: absolute;
      top: 5px;
      left: 50%;
      margin-left: -30px;
   }
}

#go-top a {
   margin-top: -110%;
	text-decoration: none;
	border: 5px solid #ffffff4d;
	display: block;
	width: 60px;
	height: 60px;
	background-color: #80b5e3;

	-webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;

   color: #fff;
   font-size: 21px;
   line-height: 60px;
 	border-radius: 100%;
}
#go-top a:hover { background-color: #5793c9; }

